
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/log

backend/tmp
backend/log

judge/tmp
judge/log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
